.cards__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.cards__item {
  background-color: $background;
  padding: 15px 15px 20px 15px;
  border-radius: 20px;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 293px;
}

.item {
  &__location {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__temperature {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__date {
    font-size: 12px;
    margin-bottom: 25px;
  }
  &__btns-control {
    display: flex;
    align-items: center;
  }
}

.button {
  background-color: $primary-color;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 9px;
}

.buttons {
  margin-bottom: 12px;
}

.main {
  &__img-container {
    width: 83px;
    height: 83px;
    margin-bottom: 25px;
  }

  &__temp {
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
  }
}

.control {
  &__refresh {
    margin-right: 15px;
  }

  &__like {
    margin-right: 30px;
  }

  &__more {
    padding: 8px 20px;
    margin-right: 27px;
  }
}

.refresh__icon,
.delete__icon,
.like__icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 834px) {
  .cards__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 110px;
    row-gap: 25px;
    max-width: 890px;
    margin: 0 auto;
    padding-inline: 40px;
  }

  .cards__item {
    padding: 12px 25px 17px 25px;
    max-width: 100%;
    width: 100%;
    flex-basis: calc((100% - 110px) / 2);
  }
  .item__location {
    margin-bottom: 11px;
  }

  .buttons {
    margin-bottom: 18px;
  }

  .item__date {
    margin-bottom: 27px;
  }

  .main__img-container {
    width: 76px;
    height: 76px;
  }

  .main__temp {
    margin-bottom: 25px;
  }

  .control {
    &__more {
      margin-right: 20px;
      padding: 6px 18px;
    }
    &__like {
      margin-right: 25px;
    }
  }
}

@media (min-width: 1440px) {
  .cards__list {
    max-width: 1200px;
    column-gap: 90px;
    row-gap: 0;
  }

  .cards__item {
    padding: 20px;
    flex-basis: calc((100% - 180px) / 3);
  }

  .item__temperature {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .item__location {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .buttons {
    margin-bottom: 15px;
  }
  .button {
    padding: 8px 18px;
    font-size: 10px;
  }

  .item__date {
    margin-bottom: 22px;
    font-size: 14px;
  }

  .main__img-container {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
  }

  .main__temp {
    margin-bottom: 39px;
    font-size: 32px;
  }

  .control {
    &__like {
      margin-right: 33px;
    }

    &__more {
      padding: 8px 25px;
      margin-right: 37px;
    }
  }

  .refresh__icon,
  .delete__icon,
  .like__icon {
    width: 30px;
    height: 30px;
  }
}
