.footer {
  background: $primary-color;
  color: $text-light;
  padding: 40px 20px;
  font-family: "Montserrat Alternates";
  margin-top: 50px;
  &__inner {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0px;
  }

  &__brand {
    display: inline-flex;
    align-items: center;
    margin-right: 103px;
    width: 90px;
    height: 62px;
  }

  .footer-adress {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    margin-right: 103px;

    &_span {
      margin-bottom: 10px;
      color: $text-dark;
      font-size: 16px;
    }

    &_str,
    &_sity,
    &_country {
      font-size: 12px;
      color: $text-dark;
    }
  }

  .p {
    font-size: 16px;
    font-weight: 500;
    color: $text-dark;
  }

  &__social {
    display: flex;
    gap: 12px;
    flex-direction: column;

    &-link {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: background 0.3s ease;
      padding: 5px;

      &:hover {
        background: #444;
      }

      svg,
      img {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
    }
  }
}

.social__container {
  display: flex;
}

@media (max-width: 1440px) {
  .footer {
    padding: 35px 100px 35px;

    &__inner {
      max-width: 634px;
      margin: 0;
    }

    &__brand {
      width: 58px;
      height: 40px;
      margin-right: 100px;
    }

    &-adress {
      margin-right: 100px;
    }

    .footer-adress_span {
      font-size: 14px;
    }

    .p {
      font-size: 14px;
    }

    .footer__social-link {
      width: 35px;
      height: 35px;
    }

    .social__container {
      display: flex;
      gap: 20px;
    }

    .footer-adress_str {
      font-size: 10px;
    }
  }
}

@media (max-width: 834px) {
  .footer {
    padding: 30px 50px;

    &__inner {
      max-width: 300px;
      margin: 0;
    }

    &__brand {
      width: 50px;
      height: 34px;
      margin-right: 75px;
    }

    .footer-adress {
      &_str,
      &_sity,
      &_country {
        font-size: 8px;
      }
    }

    &-adress {
      margin-right: 0;
      margin-bottom: 25px;
    }

    .footer-adress_span {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  .social__container {
    justify-content: center;
  }

  .footer__social {
    width: 100%;
  }

  .p {
    font-size: 12px;
    text-align: center;
  }

  .footer__social-link {
    width: 35px;
    height: 35px;
  }

  .social__container {
    display: flex;
    gap: 20px;
  }
}
