.weather {
  padding: 26px 76px 42px;
  max-width: 1140px;
  border-radius: 25px;
  margin: 0 auto;
  background-color: $background;
  margin-top: 80px;
  font-weight: 500;
  font-size: 16px;

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__loading {
    color: #007bff;
    text-align: center;
    font-weight: bold;
  }

  &__error {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    width: 100%;
    border-radius: 10px;
    background: $bg-card;
  }

  &__date {
    font-size: 16px;
  }

  &__icon {
    width: 45px;
    height: 45px;
  }

  &__temps {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 1440px) {
  .weather {
    padding: 20px 45px 35px;
    max-width: 634px;
    margin-top: 50px;
    font-size: 14px;

    &__title {
      font-size: 12px;
      margin-bottom: 17px;
    }

    &__date {
      font-size: 14px;
    }

    &__list {
      gap: 17px;
    }

    &__card {
      padding: 5px 15px;
    }

    &__icon {
      width: 35px;
      height: 35px;
    }

    &__temps {
      gap: 15px;
    }
  }
}

@media (max-width: 834px) {
  .weather {
    padding: 20px 25px 35px;
    max-width: 293px;
    margin-top: 50px;
    font-size: 10px;

    &__title {
      font-size: 10px;
      margin-bottom: 25px;
    }

    &__date {
      font-size: 10px;
      margin-bottom: 20px;
    }

    &__list {
      column-gap: 43px;
      row-gap: 35px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__card {
      padding: 10px 10px 22px;
      flex-basis: calc((100% - 86px) / 2);
      flex-direction: column;
      min-width: 100px;
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__temps {
      gap: 15px;
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
}
