.btn {
    border-radius: 10px;
background: #FFB36C;
padding: 10px 20px;
color: #000;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;

}